@(part: Part)(implicit flash: Flash)

@main(Messages("part.details", part.title)){
    <h2>
        @Messages("part.details", part.title)
    </h2>
    <div id="partWrapper">
    <dl class="dl-horizontal">
        <dt>Title:</dt>
        <dd>@part.title</dd>

        <dt>Url:</dt>
        <dd id="vidUrl" rawVidUrl="@part.url">@part.url</dd>

        <dd><pre id="embedCode"></pre></dd>
    </dl>
    </div>
}