@(partForm: Form[Part])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@main("Edit Part"){
    <h2>Edit Part</h2>

    @helper.form(action = routes.Parts.save()){
        <fieldset>
            <legend>
                New Part
            </legend>
            @helper.inputText(partForm("id"))
            @helper.inputText(partForm("title"))
            @helper.inputText(partForm("url"))
        </fieldset>
        <p><input type="submit" class="btn primary" value="Submit Part"></p>
    }
}
