@(parts: List[Part])(implicit flash: Flash)

@main(Messages("application.name")) {

    <dl class="parts">
    @for(part <- parts){
        <dt><a href="@controllers.routes.Parts.show(part.id)">@part.title</a></dt>
        <dd>Youtube URL: @part.url</dd>

    }
    </dl>

    <p>
        <a href="@controllers.routes.Parts.newPart()" class="btn">
            <i class="glyphicon-plus">New Part</i>
        </a>
    </p>

}
